OWSLib==0.5.1
Django==1.4
django-extensions==0.8
httplib2==0.7.4
gsconfig==0.6.0
django-registration==0.8
django-profiles==0.2
geonode-avatar==2.1
dialogos==0.1
agon-ratings==0.2
South==0.7.3
django-taggit==0.9.3
